In [30]:
import pytesseract
import cv2
import os

In [31]:
img_path = "/home/nirav/Desktop/Workspace/ML/DJ_Strike/test_images_bar/30_out.png"

In [32]:
img = cv2.imread(img_path)
# img_rgb = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
cv2.imshow("image",gray)

In [33]:
img_data = pytesseract.image_to_data(gray,output_type='data.frame')

In [34]:
img_data.dropna(subset=['text'],inplace=True)

In [35]:
img_data

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,54,28,13,9,10,a
8,5,1,2,1,1,1,54,77,13,9,23,cn
12,5,1,3,1,1,1,54,126,13,9,26,En
16,5,1,4,1,1,1,53,175,14,9,24,my
20,5,1,5,1,1,1,54,224,13,9,51,En
24,5,1,6,1,1,1,54,273,13,9,27,En
28,5,1,7,1,1,1,54,322,13,9,31,on
32,5,1,8,1,1,1,73,31,434,1,95,
36,5,1,9,1,1,1,73,31,1,343,95,
40,5,1,10,1,1,1,73,373,434,1,95,
44,5,1,11,1,1,1,145,384,4,9,88,1
45,5,1,11,1,1,2,216,384,6,9,50,A
46,5,1,11,1,1,3,287,384,6,9,28,Ey
47,5,1,11,1,1,4,357,384,6,9,2,Ey
48,5,1,11,1,1,5,429,384,6,9,23,A
52,5,1,12,1,1,1,506,31,1,343,95,

In [36]:
img_data = img_data[img_data['text']!=' ']
img_data

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
4,5,1,1,1,1,1,54,28,13,9,10,a
8,5,1,2,1,1,1,54,77,13,9,23,cn
12,5,1,3,1,1,1,54,126,13,9,26,En
16,5,1,4,1,1,1,53,175,14,9,24,my
20,5,1,5,1,1,1,54,224,13,9,51,En
24,5,1,6,1,1,1,54,273,13,9,27,En
28,5,1,7,1,1,1,54,322,13,9,31,on
44,5,1,11,1,1,1,145,384,4,9,88,1
45,5,1,11,1,1,2,216,384,6,9,50,A
46,5,1,11,1,1,3,287,384,6,9,28,Ey
47,5,1,11,1,1,4,357,384,6,9,2,Ey
48,5,1,11,1,1,5,429,384,6,9,23,A

In [37]:
key = cv2.waitKey()
if key==27:
    cv2.destroyAllWindows()